In [1]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import math
%matplotlib inline

In [2]:
df = pd.read_csv("kc_housing_data_cleaned.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,M,D,Y
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,...,1955,1955.0,98178,47.5112,-122.257,1340,5650,10,13,2014
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,1951,1991.0,98125,47.7210,-122.319,1690,7639,12,9,2014
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,1933,1933.0,98028,47.7379,-122.233,2720,8062,2,25,2015
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1965,1965.0,98136,47.5208,-122.393,1360,5000,12,9,2014
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1987,1987.0,98074,47.6168,-122.045,1800,7503,2,18,2015

### Seeing how many outliers exist in the data set for any given variable.

In [3]:
# calculate summary statistics
variable = 'bedrooms'
data_mean, data_std = mean(df[variable]), std(df[variable])
# identify outliers
cut_off = data_std * 3
lower, upper = data_mean - cut_off, data_mean + cut_off
# identify outliers
outliers = [x for x in df[variable] if x < lower or x > upper]
print('Identified outliers: %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in df[variable] if x >= lower and x <= upper]
print('Non-outlier observations: %d' % len(outliers_removed))

Identified outliers: 62
Non-outlier observations: 21535

### Making a copy of the original data frame.

In [6]:
df_original = df.copy()

### Removing rows in the data frame that contain outliers for the variable in question.

In [7]:
variable = 'bedrooms'
data_mean, data_std = mean(df[variable]), std(df[variable])
cut_off = data_std * 2

for i in range(len(df)):
    if df.loc[i,variable] < (data_mean - cut_off) or df.loc[i,variable] > (data_mean + cut_off):
        df.drop([i], inplace=True)
    else:
        continue
print(len(df))

21067